<!-- <h1>Login</h1> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <%= form_tag '/login' do %>

        <div class="col-sm-4 col-sm-offset-4 col-md-12 col-md-offset-0 clearfix">
          <%= label_tag :username %>
          <%= text_field_tag :username, nil, class: "form-control" %>
        </div>
        <div class="col-sm-4 col-sm-offset-4 col-md-12 col-md-offset-0 clearfix" style="margin-top: 10px;">
          <%= label_tag :password %>
          <%= password_field_tag :password, nil, class: "form-control" %>
        </div>
        <div class="col-xs-12 text-center" style="margin-top: 20px;">
          <%= submit_tag "Login", class: "btn btn-info" %>
        </div>

      <% end %>
    </div>
<div style="height:20px;"></div>
    <div class="col-md-8 col-xs-12">
      <% @post.each_with_index do |p,index| %>
        <div class="col-xs-12 col-sm-6" style="padding:0;">
          <!-- Button trigger modal -->
          <span type="button" data-toggle="modal" data-target="#myModal<%= index %>">
            <img src="<%= p.picture.url(:medium) %>" alt="<%= p.picture_file_name %>" width="100%" class="index-image"/>
          </span>
          <!-- Modal -->
          <div class="modal fade" id="myModal<%= index %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel"><%= p.caption %></h4>
                </div>
                <div class="modal-body">
                  <img src="<%= p.picture.url(:medium) %>" alt="<%= p.picture_file_name %>" width="100%" />
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
