<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container-fluid">
<div class="row">
<div class="col-md-4 col-md-offset-4">
<div class="col-sm-4 col-sm-offset-4 col-md-12 col-md-offset-0 clearfix">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "form-control"%>
  </div>

  <div class="col-sm-4 col-sm-offset-4 col-md-12 col-md-offset-0 clearfix" style="margin-top: 10px;">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>

  <div class="col-sm-4 col-sm-offset-4 col-md-12 col-md-offset-0 clearfix" style="margin-top: 10px;">
    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control" %>
  </div>

  <div class="col-sm-4 col-sm-offset-4 col-md-12 col-md-offset-0 clearfix" style="margin-top: 10px;">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <div class="col-sm-4 col-sm-offset-4 col-md-12 col-md-offset-0 clearfix" style="margin-top: 10px;">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>

  <div class="col-xs-12 text-center" style="margin-top: 20px;">
    <%= f.submit :Create, class: "btn btn-info"%>
  </div>

<% end %>
</div>
</div>
</div>
