
<div class="col-xs-12" style="margin-bottom: 30px;">
<%= link_to 'New Post', new_post_path, class: "btn btn-info btn-white" %></div>
<% @posts.each do |post| %>
  <div class="col-xs-12 col-sm-6 col-md-4" style= "margin-bottom: 20px;">
    <div><img src="<%= post.picture %>" width="100%" height="100%" class="post-image"></div>
    <div>Username: <strong><%= post.user.username %></strong></div>
    <div>Caption: <strong><%= post.caption %></strong></div>
    <div><%= link_to 'Show', post, class: "btn btn-info btn-white"%>
    <% if current_user.id == post.user_id %>
      <%= link_to 'Edit', edit_post_path(post), class: "btn btn-yellow btn-white" %>
      <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-orange btn-white" %>
    </div>
    <%end%>
  </div>
<% end %>
