
<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @post.picture.url(:medium) %>
  <strong>Caption:</strong>
  <%= @post.caption %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<div class="comment">
  <h3>Comments</h3>


  <% @post.comments.each do |comment| %>
  <p><strong>By: <%= User.find(comment.user_id).username %></strong></p>
    <%= comment.body %>
    <%end%>
  <br>
</div>

<%= form_for [@post, @post.comments.new] do |f|%>
  <%= f.text_area :body , placeholder: "Add a Comment..." %>
  <br>
  <%= f.submit %>
<%end%>
