<!DOCTYPE html>
<html>
  <head>
    <title>JopKo Test</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" %>
  </head>
  <body>
    <div class="login">
    <p class="alignright">JopKo Test</p>
    <p class="alignleft"><% if current_user %>
      Signed in as <%= current_user.username %> | <%= link_to "Logout", logout_path %>
    <% else %>
      <%= link_to 'Login', login_path %> | <%= link_to 'Register', register_path %>
    <% end %></p>
    </div>

    <%= yield %>
  </body>
</html>
